.firebaseui-idp-button {
  height: 4rem;
  cursor: pointer;
  display: flex;
  padding: 0px 25%;
  justify-content: space-between;
  align-items: center;
}

.firebaseui-idp-text {
  height: 1rem !important;
  font-size: 1rem;
}

.firebaseui-idp-text-short {
  display: none;
}

.firebaseui-idp-button * {
  max-height: 3rem;
  height: 3rem;
}

#firebaseui-root {
  height: 5rem !important;
  padding: .5rem 0rem;
}

#firebaseui-root ul {
  list-style: none;
}

.firebaseui-idp-button {
  background-color: rgb(98, 226, 162) !important;
  border: none;
  border-radius: 3px;
  width: 100% !important;
}

.firebaseui-idp-list {
  padding: 0;
}

.firebaseui-card-content {
  display: flex !important;
  justify-content: center;
}

.firebaseui-card-content form {
  width: 100% !important;
}