.root {
  position: relative;
  height: 2.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}

.root svg {
  height: 1.25rem;
  margin-right: .8rem;
  transition: 0.2s;
}

.root svg:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  stroke: orangered;
}

.bookmarked:hover svg {
  stroke: grey;
}

.upvotes {
  color: lightgray;
  display: flex;
}