.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url('../../../public/cardboard.jpg');
}

.content {
  display: flex;
  width: 100%;
  height: calc(100vh - 3rem);
  overflow-y: hidden;
  box-sizing: content-box;
}

.content>div {
  box-sizing: border-box;
  overflow: auto;
}