.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2rem 2rem 0rem 2rem;
  box-sizing: border-box;
  height: 3.5rem;
  min-height: 3.5rem;
  background-color: #303030;
  cursor: pointer;
  border-radius: .3rem;
  margin-bottom: .3rem;
}

.userInfo {
  display: flex;
}

.block {
  display: flex;
  justify-content: center;
  font-size: medium;
  border: .2rem solid lightgray;
  border-radius: 30px;
  width: 6rem;
  padding: .4rem 0px;
  color: lightgray;
}

.block:hover {
  border: .2rem solid orangered;
  color: orangered
}

.email {
  font-size: medium;
  color: lightgray;
  margin-left: 2rem;
}