.root {
  padding-left: 2rem;
  height: 3rem;
  align-items: center;
  width: 100%;
  display: flex;
  color: aliceblue;
  background-color: #303030;
}

.email {
  align-items: center;
  display: flex;
  height: 60%;
  color: aliceblue;
}